{{- if and (.Values.consulRegistration.Enabled) (.Values.consulDiscoverySettings.cassandra.Enabled) }}
apiVersion: qubership.org/v1alpha1
kind: ConsulACL
metadata:
  name: cassandra-consul-acl-config
  labels:
   {{- include "cassandra.defaultLabels" . | nindent 4 }}
spec:
  acl:
    name: consul-acls
    json: >
      {
         "policies":[
            {
               "ID":"",
               "Name":"cassandra_operator_policy",
               "Description":"Policy for Cassandra Service operator to register Cassandra service in the Consul",
               "Rules":"service \"{{template "nosql.core.consul.serviceName" (dict "name" .Values.consulDiscoverySettings.cassandra.Name "default" "cassandra" "namespace" .Release.Namespace)}}\" {policy = \"write\"}"
            }
         ],
         "roles":[
            {
               "ID":"",
               "Name":"cassandra_operator_role",
               "Description":"Role for Cassandra Service operator to register Cassandra service in the Consul",
               "policy_names":[
                  "cassandra_operator_policy"
               ]
            }
         ],
         "bind_rules":[
            {
               "BindName":"cassandra_operator_role",
               "ServiceAccountName":"{{ .Values.serviceAccountName }}"
            }
         ]
      }
{{- end }}
