apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cassandra-services
rules:
- apiGroups:
  - qubership.org
  resources:
  - '*'
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  - delete
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - pods/exec
  - configmaps
  - persistentvolumeclaims
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/status
  - deployments/scale
  - statefulsets
  - statefulsets/scale
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- verbs:
  - get
  - list
  - create
  - update
  - delete
  - deletecollection
  - watch
  apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
